<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{
        background-color:#F5F0E6;}
        #bc{
        font-size:19 px;}
    </style>
</head>
<body>
<form method="POST" action="/abt">
    <table>
        <tr>{%include 'header.html'%}</tr>
        <tr>
            <h1>About Myself</h1>
        </tr>
        <tr>
            <p id="bc">I Ayushi Singh , a dedicated and talented final year B.Tech student at Shri Ramswarrop Memorial College of Engineering and Management , Lucknow. With a strong foundation in computer science and a passion for technology, I developed a diverse skill set that includes web development, machine learning, Python, C, C++, Flask, and more.

My journey began at Kendriya Vidyalaya, Lucknow , where I nurtured curiosity and laid the groundwork for future academic pursuits.My early exposure to technology and programming sparked a lifelong interest in the field. As a high school student, I actively participated in coding competitions and hackathons, demonstrating problem-solving abilities and innovative thinking.

Upon entering Shri Ramswarrop Memorial College of Engineering and Management , Lucknow, I immersed myself in the vibrant academic environment. I excelled in coursework, consistently achieving high grades and actively engaging in classroom discussions. My passion for web development led to explore various frameworks and technologies, including Python's Flask. I has built several web applications, showcasing my ability to design and develop functional and user-friendly interfaces.

In addition to web development skills,I  has delved into the exciting world of machine learning.I has a keen understanding of algorithms and data structures, enabling to build predictive models and analyze complex datasets. My projects in machine learning have demonstrated my ability to apply theoretical concepts to real-world problems and extract valuable insights from data.

I have  proficiency in programming languages like Python, C, and C++ that provides a solid foundation for tackling various technical challenges. I is adept at writing efficient and well-structured code, adhering to best practices and industry standards. Moreover, my familiarity with Flask has equipped  with the skills to create scalable and maintainable web applications.

Beyond my academic achievements, I am  actively involved in extracurricular activities. I am a member of the college's coding club, where I collaborates with other students on projects and shares knowledge.I has also participated in various technical workshops and conferences, expanding  understanding of emerging technologies and networking with industry professionals.

I  am a driven and ambitious individual who is eager to contribute her skills to the tech industry. My strong academic background, coupled with her practical experience and passion for technology, make me a valuable asset to any team. As I prepares to graduate, I am  excited about the opportunities that lie ahead and is determined to make a significant impact in the world of technology.</p>

        </tr>
        <tr>{% include 'footer.html' %}</tr>
    </table>
</form>
</body>
</html>